<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
  </head>
  <body>
    <div>
      <label for="">Positive Reviews: {{ data.positive }}</label><br />
      <label for="">Negative Reviews: {{ data.negative }}</label>
    </div>
    <div>
      <form action="" method="post">
        <textarea name="text"></textarea>
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div>
      {% for review in data.reviews %}
      <div>{{ review }}</div>
      <hr />
      {% endfor %}
    </div>
  </body>
</html>
